h1{
    font-size: 40px;
}
.div1{
    color: rgb(61, 9, 109);
}
.section1{
    display: flex;
    justify-content: space-between;
    margin: 90px 100px 20px 100px;
}
.div2{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px; */
}
#div21{
    background-color: blueviolet;
}
#div22{
    position: relative;
    margin-top: 70px;
    background-color: blueviolet;
}
#div23{
    margin-top: 130px;
    background-color: blueviolet;
}
.img1{
border-radius: 45px;
}
.img2{
    border-radius: 45px;
}
.img3{
    border-radius: 45px;
}
#one{
    background-color: blueviolet;
    width: 300px;
    padding: 20px;
    padding-left: 30px;
    margin-left: 100px;
    border-radius: 15px;
}
#two{
    background-color: blueviolet;
    width: 300px;
    padding: 20px;
    padding-left: 30px;
    margin-left: 100px;
    border-radius: 15px;
}
#three{
    background-color: blueviolet;
    width: 300px;
    padding: 20px;
    padding-left: 30px;
    margin-left: 100px;
    border-radius: 15px;
}
.section2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 80px;
}
#one p1{
    position: relative;
    margin-left: 30px;
}